* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/grunge.jpg);
  width: 100%;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.navbar {
  padding: 15px;
}

.nav-section a:hover {
  color: #f2f2f2;
  text-decoration: underline;
}

.nav-section a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 20px;
}

.navbar-brand {
  font-family: "EB Garamond", serif;
  background-color: #f2f2f2;
  color: #404040;
  transform: rotate(-2deg);
  padding: 10px;
  margin: 10px 0px;
  border-radius: 0px 20px 20px 0px;
  border: 1px solid #f2f2f2;
}

.navbar-brand:hover {
  color: #404040;
  transform: rotate(-4deg);
}

.content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  background-color: #f2f2f2;
  margin: 0px auto;
  padding: 0px;
}

header {
  background-color: #404040;
}

h1,
footer {
  text-align: center;
  padding: 20px;
  color: #404040;
}

main > * {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.products > * {
  margin: 20px;
}

.btn-outline-success {
  color: #404040;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.btn-outline-success:hover {
  color: #f2f2f2;
  background-color: #404040;
  border: 1px solid #f2f2f2;
}

.btn-primary {
  color: #f2f2f2;
  background-color: #404040;
}

.btn-primary:hover {
  color: #404040;
  background-color: #f2f2f2;
  border: 1px solid #404040;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #404040;
  border-color: #404040;
}

.page-link,
.page-link:hover {
  color: #404040;
}

.navbar-toggler-icon {
  background-color: #f2f2f2;
  display: flex;
  color: #404040;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  border-radius: 5px;
}

#active {
  text-decoration: underline;
}

@media (min-width: 1207px) {
  main > * {
    flex-direction: row;
  }

  .navbar-brand {
    font-size: 2rem;
  }
}
